################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EmployeeERP.API/obj
/EmployeeERP.API/.vs/EmployeeERP.API
*.user
/EmployeeERP.API/.vs/ProjectEvaluation
/.vs
/EmployeeERP.API/bin/Debug/net9.0
/EmployeeERP.API/wwwroot/
/EmployeeERP.API/bin
/EmployeeERP.API/ilog/
/EmployeeERP.Dashbord/hr_dashbord/.angular
/EmployeeERP.Dashbord/hr_dashbord/.vscode
/EmployeeERP.Dashbord/hr_dashbord/.vscode
