<div class="modal-content w-100">
  <div class="modal-header">
      <h5 class="modal-title">Delete Employee</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
  </div>
  <div id="employeeForm">
      <div class="modal-body">
        Are You Sure ?
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-danger" data-bs-dismiss="modal" (click)="delete()">Removed</button>
      </div>
  </div>
</div>
